#customize-controls .control-section-vw-tourism-pro .accordion-section-title:hover,
#customize-controls .control-section-vw-tourism-pro .accordion-section-title:focus {
    background-color: #fff;
}

.control-section-vw-tourism-pro .accordion-section-title .button {
    margin-top:  -4px;
    font-weight: 400;
    margin-left: 8px;
}

.rtl .control-section-vw-tourism-pro .accordion-section-title .button {
    margin-left:  0;
    margin-right: 8px;
}
a.review_st {
    background: #016194 !important;
    color: #ffffff !important;
    font-weight: bold !important;
    border: none !important;
}
.customize-control-title
{
    background-color: transparent !important;
    color: #222 !important;
}
.simple-seperator-custom-control .customize-control-title
{
    background-color: #0073aa !important;
}

#customize-theme-controls .customize-control-title{
   padding: 0px !important;
}
#customize-theme-controls .simple-seperator-custom-control .customize-control-title
{
   padding: 0 15px !important; 
}
.simple-seperator-custom-control span.description.customize-control-description {
color: #ffffff !important;
text-align: center;
}
.simple-seperator-custom-control span.description.customize-control-description {
background-color: #0073aa;
color: #ffffff;
display: table;
padding: 3px 17px;
}

.simple-seperator-custom-control span.customize-control-title {
color: #ffffff !important;
text-align: center;
}
.simple-seperator-custom-control span.customize-control-title {
background-color: #0073aa !important;
color: #ffffff;
display: table;
padding: 3px 17px !important;
margin-bottom: 10px
}
img.sirat-radio-img-img {
    width: 80px;
    margin-right: 2px !important;
}

input#_customize-input-logo_size { 
    width: 100%; 
}

